{%extends 'orders_layout.html'%}

{%block body%}
<div class="container">
    {% if not result %}
    <h1>COULD NOT FETCH DATA AND NEW TABLE FOR SELL {{tractor}}</h1>
    {% else %}
    <div class="card">
        <form method="post" action="{{ url_for('orders.final_sell')}}" enctype="multipart/form-data">
            {% for mute_key, buyer_key in keys %}
            <div class="form-row bg-light text-dark ">
                <div class="col">
                    <label for={{mute_key}}>{{mute_key.upper()}}</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" value={{result[mute_key]}} name={{mute_key}} readonly>
                </div>
                <div class="col">
                    <label for={{buyer_key}}>{{buyer_key.upper()}}</label>
                </div>
                <div class="col">
                    {% if customer_details[buyer_key]=="file" %}
                    <input type="{{customer_details[buyer_key]}}" class="form-control" name="{{buyer_key}}" multiple required>
                    {% else %}
                    <input type="{{customer_details[buyer_key]}}" class="form-control" name="{{buyer_key}}" required>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="form-row bg-light text-dark ">
                <div class="col"></div>
                <div class="col">
                    <input type="hidden" name="is-sold" value="true">
                </div>
                <div class="col">
                    <label for={{mute_key}}>CONFIRM</label>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">SELL TRACTOR</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{%endblock%}