{%extends 'orders_layout.html'%}
{%block body%}
<div class="row">
    <div class="col">
        <table class="table table-bordered" id="tractor-info">
            {% with keys = sold_tractor[0].keys() if sold_tractor else []%}
            <thead>
                <tr class="table-primary">
                    <th scope="row">#</th>
                    {% for key in keys%}
                    <th scope="row">{{key}}</th>
                    {% endfor %}
                    <th scope="row">download zip</th>
                    <th scope="row">update </th>
                </tr>
            </thead>
            <tbody>
                {% for tractor in sold_tractor%}
                <tr>
                    <td>{{loop.index}}</td>
                    {% for key in keys%}
                    <td>{{tractor[key]}}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('inventory.download_zip', tractor=tractor['chassis-number'])}}"
                            role="button" class="btn btn-dark btn-block">
                            DOWNLOAD ZIP
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('orders.update_sold_tractor', tractor=tractor['chassis-number'])}}"
                            role="button" class="btn btn-info btn-block">
                            UPDATE INFO
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endwith %}
        </table>
    </div>
</div>
{%endblock%}