<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ECE7E7;margin-bottom:1%">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">
        <span>Raj & Rihan </span>
    </a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('inventory.render_inventory')}}">Inventory</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Sells</a>
            </li>

        </ul>
        
    </div>
</nav>