<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ECE7E7;margin-bottom:1%">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">
        <span>Raj & Rihan </span>
    </a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Inventory
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('inventory.add_tractor')}}">Add Tractor</a>
                    <a class="dropdown-item" href="{{ url_for('inventory.view_tractor')}}">View Tractor</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sell
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=#>Sell Tractor</a>
                    <a class="dropdown-item" href=#>Sell History</a>
                </div>
            </li>
        </ul>

    </div>
</nav>