{%extends 'inventory_layout.html'%}

{%block body%}
<div class="container">
  <div class="card">
    <form method="post" action="{{ url_for('inventory.add_tractor')}}" enctype="multipart/form-data">
      <div class="form-row bg-dark text-white">
        <div class="col">
          <label for="tractor-name">TRACTOR FEATURE</label>
        </div>
        <div class="col">
          <label for="tractor-name">DEALER INFO</label>
        </div>
      </div>
      <div class="form-row bg-light text-dark ">
        <div class="col">
          <label for="tractor-name">TRACTOR NAME</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="TRACTOR NAME" name="tractor-name" required>
        </div>
        <div class="col">
          <label for="tractor-name">BANK</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="BANK" name="bank">
        </div>
      </div>
      <div class="form-row bg-white text-dark">
        <div class="col">
          <label for="chassis-number">CHASSIS NUMBER</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="CHASSIS NUMBER" name="chassis-number" required>
        </div>
        <div class="col">
          <label for="tractor-name">ORIGINAL OWNER</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="ORIGINAL OWNER" name="originl-owner">
        </div>
      </div>
      <div class="form-row bg-light text-dark">
        <div class="col">
          <label for="model">MODEL</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="MODEL" name="model">
        </div>
        <div class="col">
          <label for="release-date">RELEASE DATE</label>
        </div>
        <div class="col">
          <input type="datetime-local" class="form-control" placeholder="RELEASE DATE" name="release-date">
        </div>
      </div>
      <div class="form-row bg-white text-dark">
        <div class="col">
          <label for="year-of-manufacturing">YEAR OF MANUFACTURING</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="YEAR OF MANUFACTURING" name="year-of-manufacturing">
        </div>
        <div class="col">
          <label for="delevery-date">DELEVERY DATE</label>
        </div>
        <div class="col">
          <input type="datetime-local" class="form-control" placeholder="DELEVERY DATE" name="delevery-date">
        </div>
      </div>
      <div class=" form-row bg-light text-dark">
          <div class="col">
            <label for="registration-number">REGISTRATION NUMBER</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="REGISTRATION NUMBER" name="registration-number">
        </div>
        <div class=" col">
            <label for="buying-godown">BUYING GODOWN</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="BUYING GODOWN">
          </div>
        </div>
        <div class="form-row bg-white text-dark">
          <div class="col">
            <label for="engine-number">ENGINE NUMBER</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="ENGINE NUMBER" name="engine-number">
          </div>
          <div class="col">
            <label for="storing-godown">STORING GODOWN</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="STORING GODOWN" name="storing-godown">
          </div>
        </div>
        <div class="form-row bg-light text-dark">
          <div class="col-3">
            <label for="hp">HP</label>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" placeholder="HP" name="hp">
          </div>

        </div>
        <div class="form-row bg-white text-dark">
          <div class="col-3">
            <label for="hours">HOURS</label>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" placeholder="HOURS" name="hours">
          </div>
        </div>
        <div class="form-row bg-light text-dark">
          <div class="col">
            <label for="pictures">PICTURES</label>
          </div>
          <div class="col">
            <input type="file" class="form-control" placeholder="PICTURES" name="pictures" multiple>
          </div>
          <div class="col">
            <label>WANT TO SUBMIT?</label>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-primary px-4 float-right">ADD TRACTOR</button>
          </div>

        </div>
    </form>
  </div>
</div>


{%endblock%}