{%extends 'layout.html'%}

{%block body%}

<div class="row">
  <div class="card">
    <div class="card">
      <h3>Please Fill the details</h3>
      <form method="post" action="{{ url_for('inventory.render_inventory')}}" enctype="multipart/form-data">

        <hr style="width:50%;text-align:left;margin-left:0">
        <h6>TRACTOR FEATURE</h6>
        <div class="form-inline">
          <label class="control-label col-sm-4">TRACTOR NAME</label>
          <input type="text" placeholder="TRACTOR NAME" name="tractor-name" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">CHASSIS NO</label>
          <input type="text" placeholder="CHASSIS NUMBER" name="chassis-number" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">MODEL</label>
          <input type="text" placeholder="MODEL" name="model" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">YEAR OF MFG</label>
          <input type="text" placeholder="YEAR OF MANUFACTURE" name="year-of-manufacturing" class="form-control"
            required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">REGISTRATION NO</label>
          <input type="text" placeholder="REGISTRATION NUMBER" name="registration-number" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">ENGINE NO</label>
          <input type="text" placeholder="ENGINE NUMBER" name="engine-number" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">HP</label>
          <input type="text" placeholder="HP" name="hp-hours" class="form-control" required>
          <label class="control-label col-sm-4">HOURS</label>
          <input type="text" placeholder="HOURS" name="hp-hours" class="form-control" required>
        </div>

        <div class="form-inline">
          <!-- #TODO: making inline with -->
          <label for="formFileMultiple" class="form-label">PICTURES &emsp; &emsp;</label>
          <input class="form-control" type="file" id="formFileMultiple" name="file" multiple required>
        </div>

        <hr style="width:50%;text-align:left;margin-left:0">
        <h6>DEALER INFORMATION</h6>

        <div class="form-inline">
          <label class="control-label col-sm-4">BANK</label>
          <input type="text" placeholder="BANK" name="bank" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">ORIGINAL OWNER</label>
          <input type="text" placeholder="ORIGINAL OWNER" name="original-owner" class="form-control" required>
        </div>


        <div class="form-inline">
          <label class="control-label col-sm-4">RELEASE DATE</label>
          <input type="datetime-local" name="release-date-time" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">DELIVERY DATE</label>
          <input type="datetime-local" name="delievery-date-time" class="form-control" required>
        </div>

        <div class="form-inline">
          <label class="control-label col-sm-4">BUYING GODWON</label>
          <input type="text" placeholder="DEALER" name="dealer" class="form-control" required>
        </div>

        <!-- <div class="form-inline">
          <label class="control-label col-sm-4">BUYING PRICE</label>
          <input type="text" placeholder="PRICE" name="price" class="form-control" >
        </div> -->

        <div class="form-inline">
          <label class="control-label col-sm-4">STORING GODOWN</label>
          <input type="text" placeholder="GODOWN NAME" name="godown-name" class="form-control" required>
        </div>

        <hr style="width:50%;text-align:left;margin-left:0">

        <div class="form-inline" style="text-align:center">
          <input class="btn btn-primary" style="text-align:center" type="submit" value="Add TRACTOR" required>
        </div>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card">RESERVE FOR SEARCH</div>
      <div class="card">
        <table class="table table-bordered" id="tractor-info">
          <thead>
            <tr class="table-primary">
              <th scope="row">#</th>
              <th scope="row">TRACTOR NAME</th>
              <th scope="row">TRACTOR MODEL</th>
              <th scope="row">YEAR OF MFG</th>
            </tr>
          </thead>
          <tbody>
            {% for item in display_tractor %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{item["tractor-name"]}}</td>
              <td>{{item["model"]}}</td>
              <td>{{item["year-of-manufacturing"]}}</td>
            </tr>
            {% endfor %}
      </div>
    </div>

  </div>
</div>



{%endblock%}