{%extends 'inventory_layout.html'%}

{%block body%}

<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header text-center">Update inforation</h5>
      <form enctype="multipart/form-data" method="POST">
        {% for key, value in display_tractor.items() %}
        {% if key == "chassis-number" %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <input type="hidden" class="form-control" name="old-chassis-number" value="{{value}}">
          <div class="col">
            <input type="text" class="form-control" value="{{value}}" name="{{key}}">
          </div>
        </div>
        {% elif "date" in key %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <div class="col">
            <input type="datetime-local" class="form-control" value="{{value.upper()}}" name="{{key}}">
          </div>
        </div>
        {% elif "old-chassis-number" not in key %}
        <div class="form-row">
          {% if value %}
          <div class="col">{{key}}</div>
          {%else%}
          <div class="col bg-danger">{{key}}</div>
          {%endif%}
          <div class="col">
            <input type="text" class="form-control" value="{{value}}" name="{{key}}">
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for key in document_field %}
        <div class="form-row">
          {% if document_report[key]%}
          <div class="col">{{key}}</div>
          {%else%}
          <div class="col bg-danger">{{key}}</div>
          {%endif%}
          <div class="col">
            <input type="file" class="form-control" name="{{key}}" multiple>
          </div>
        </div>
        {%endfor%}
        <div class="form-row">
          <div class="col">Sure ?</div>
          <div class="col">
            <input class="btn btn-primary btn-block" style="text-align:center" type="submit" value="Update TRACTOR">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col">
    <div>
      <a href="{{ url_for('inventory.download_zip', tractor=display_tractor['chassis-number'])}}" role="button"
        class="btn btn-dark btn-block">
        DOWNLOAD ZIP
      </a>
    </div>
    <div>
      <h1>Missing documents</h1>
      <ul>
        {% for doc, files in document_report.items() %}
        {% if not files %}
        <li>{{doc}}</li>
        {%endif%}
        {%endfor%}
      </ul>
    </div>
    <div>
      <h1>Uploaded documents</h1>
      {% for doc, files in document_report.items() %}
      {% if files %}
      <li>{{doc}}
        <ol>
          {%for file in files%}
          <li>{{file}}</li>
          {%endfor%}
        </ol>

      </li>

      {%endif%}
      {%endfor%}
    </div>
    <div>
      <a href="{{ url_for('inventory.download_zip', tractor=display_tractor['chassis-number'])}}" role="button"
        class="btn btn-dark btn-block">
        DOWNLOAD ZIP
      </a>
    </div>
  </div>
  {%endblock%}