{%extends 'inventory_layout.html'%}

{%block body%}

<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header text-center">Update inforation</h5>
      <form enctype="multipart/form-data" method="POST">
        {% for key, value in display_tractor.items() %}
        {% if key == "chassis-number" %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <input type="hidden" class="form-control" name="old-chassis-number" value="{{value}}">
          <div class="col">
            <input type="text" class="form-control" value="{{value}}" name="{{key}}">
          </div>
        </div>
        {% elif "date" in key %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <div class="col">
            <input type="datetime-local" class="form-control" value="{{value.upper()}}" name="{{key}}">
          </div>
        </div>
        {% elif "old-chassis-number" not in key %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <div class="col">
            <input type="text" class="form-control" value="{{value}}" name="{{key}}">
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for key in document_field %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <div class="col">
            <input type="file" class="form-control" name="{{key}}" multiple>
          </div>
        </div>
        {%endfor%}
        <div class="form-row">
          <div class="col">Sure ?</div>
          <div class="col">
            <input class="btn btn-primary btn-block" style="text-align:center" type="submit" value="Update TRACTOR">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col">
    {% for file in files %}
    <img src="{{ url_for('.static', filename='{{file}}') }}" alt="{{file}}">
    {%endfor%}
  </div>
</div>




{%endblock%}