{%extends 'inventory_layout.html'%}

{%block body%}

<div class="row">
  <div class="col">
    <table class="table table-bordered" id="tractor-info">
      <thead>
        <tr class="table-primary">
          <th scope="row">#</th>
          <th scope="row">TRACTOR NAME</th>
          <th scope="row">TRACTOR MODEL</th>
          <th scope="row">YEAR OF MFG</th>
          <th scope="row">DOWNLOAD PHOTOS</th>
        </tr>
      </thead>
      <tbody>
        {% for item in all_tractor %}
        <tr>
          <td>{{loop.index}}</td>
          <td>
            <a href="{{ url_for('inventory.view_tractor', tractor=item['chassis-number'])}}">
              {{item["tractor-name"]}}
            </a>
          </td>
          <td>{{item["model"]}}</td>
          <td>{{item["year-of-manufacturing"]}}</td>
          <td>
            <a href="{{ url_for('inventory.download_zip', tractor=item['chassis-number'])}}">
              {{item["chassis-number"]}}
            </a>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="col">
    <div class="card">
      <form enctype="multipart/form-data" method="POST">
        {% for key, value in display_tractor.items() %}
        {% if key == "chassis-number" %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <input type="hidden" class="form-control" name="old-chassis-number" value="{{value}}">
          <div class="col">
            <input type="text" class="form-control" value="{{value}}" name="{{key}}">
          </div>
        </div>
        {% elif "date" in key %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <div class="col">
            <input type="datetime-local" class="form-control" value="{{value.upper()}}" name="{{key}}">
          </div>
        </div>
        {% elif "old-chassis-number" not in key %}
        <div class="form-row">
          <div class="col">{{key}}</div>
          <div class="col">
            <input type="text" class="form-control" value="{{value}}" name="{{key}}">
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="form-row">
          <div class="col">pictures</div>
          <div class="col">
            <input type="file" class="form-control" name="pictures" multiple>
          </div>
        </div>
        <div class="form-row">
          <div class="col">Sure ?</div>
          <div class="col">
            <input class="btn btn-primary btn-block" style="text-align:center" type="submit" value="Update TRACTOR">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




{%endblock%}